.App {
  background-color: #363636;
  height: 100vh;
}

.button-container {
  display: flex;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Gap between items */
}

.action-button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding inside the button */
  margin: 5px; /* Margin between buttons */
  width: fit-content;
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  font-size: 16px; /* Font size */
}

.action-button:hover {
  background-color: darkslategrey;
  color: #4CAF50;
}

.json-response {
  white-space: pre; /* Preserve whitespace */
  background-color: #f4f4f4; /* Light gray background */
  padding: 10px; /* Padding around the JSON response */
  margin: 5px;
  border-radius: 5px; /* Rounded corners */
  overflow: auto; /* Enable scroll if content overflows */
  font-family: 'Courier New', monospace; /* Use a monospaced font */
  font-size: 14px; /* Font size */
  width: fit-content;
}

.string-response {
  white-space: pre; /* Preserve whitespace */
  padding: 10px; /* Padding around the JSON response */
  margin: 5px;
  border-radius: 5px; /* Rounded corners */
  overflow: auto; /* Enable scroll if content overflows */
  font-family: 'Times New Roman', 'monospace';
  font-size: 14px; /* Font size */
  color: darkgoldenrod;
  width: fit-content;
}

.title-formatting {
  color: #f4f4f4;
}